.fandom_een {
    fill: #ff786e;
  }
  .fandom_twee {
    fill: #be5652;
  }
  .fandom_drie {
    fill: #be9148;
  }
  .fandom_vier {
    fill: #ffc865;
  }
  .fandom_elf {
    fill: #4b322a;
  }
  .fandom_twaalf {
    fill: #644638;
  }
  .fandom_dertien {
    fill: #aa9991;
  }
  .fandom_veertien {
    fill: #efeae0;
  }
  .fandom_vijftien {
    fill: #3a3a3a;
  }
  .fandom_zestien {
    fill: #4d4d4d;
  }
  .fandom_achttien {
    fill: #808080;
  }
  .fandom_negentien {
    fill: #cccccc;
  }
  .fandom_twintig {
    fill: #fffafa;
  }
  .st0 {
    fill: #666666;
  }
  .st1 {
    fill: #6bc4d2;
  }
  .st2 {
    fill: #508d9b;
  }
  .st3 {
    fill: #018273;
  }
  .st4 {
    fill: #8579a3;
  }
  .st5 {
    fill: #685683;
  }
  .st6 {
    fill: #00b3aa;
  }
  
  .custom-class-page {
  background: #9e9e9e !important;
}

.custom-class-page.is-active {
  background: #383838 !important;
}

.custom-arrows {
  background-color: rgba(0, 0, 0, .1) !important;
}