.custom-shadow {
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9), 4px 4px 6px rgba(0, 0, 0, 0.5),
      8px 8px 11px rgba(0, 0, 0, 0.75), 22px 22px 20px rgba(0, 0, 0, 0.4),
      -2px -2px 5px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
  }
  
  .count-down {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    text-align: center;
    margin: 0 0px;
  }
  
  .number {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .description {
    margin: 0 10px;
    text-align: center;
  }
  
  .custom-class-page {
    background: #9e9e9e;
  }
  
  .custom-class-page.is-active {
    background: #000;
  }