.background-class {  
  height: 100svh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23750303'/%3E%3Cstop offset='1' stop-color='%239E8952'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23FFFFFF' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

.custom-class-page.is-active {
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.custom-class-page {
  background: #9e9e9e !important;
}

@font-face {
  font-family: "candlescript";
  src: url("/fonts/candlescript.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text-golden {
  background-image: linear-gradient(
    to bottom,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 75%,
    #f6f2c0 50%,
    #f6e27a 50%,
    #cb9b51 100%,
    #462523 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


.texto-dorado-compatible {
    /* Fallback para navegadores que no soportan background-clip */
    color: #daa520;
    
    /* Para navegadores modernos */
    background: linear-gradient(to bottom, #f6e27a, #d4af37, #b8860b);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
    text-shadow: 0 2px 4px rgba(184, 134, 11, 0.2);
}