@font-face {
  font-family: "highrise";
  src: url("/fonts/HighriseFont.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "london";
  src: url("/fonts/Chomsky.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}